/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09.07.2017, 16:12:12
    Author     : vasil
*/

tr.classMainTable {
    background-color: blanchedalmond;
}

tr.classSecondTable{
    background-color: chartreuse;
}

div.classIncidentHeader{
    font-style: oblique;
}